* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

fieldset {
  margin: 0;
  padding: 20px;
  display: inline;
  font-style: sans-serif;
}
